storage
.DS_Store
__pycache__
scans.db
outputs
volatility2_profiles
volatility3_cache
volatility3_plugins
volatility3_symbols
*_output
memdump.elf
memory.dump
config.yml
Win7SP1x86.dmp
.env
CLI/build
CLI/dist
CLI/multivol.egg-info
.ruff_cache
.pytest_cache